

<mat-toolbar color="primary" class="header">
  <img src="../assets/images/sw_logo_stacked-336c62367939.png" alt="starwars logo" class="logo">
  <ul class="menu">
    <li class="menu__item">
      <button mat-button [routerLink]="['/movies']">
        <mat-icon>local_movies</mat-icon>
        <span>Movies</span>
      </button>
      <button mat-button [routerLink]="['/characters']">
        <mat-icon>home</mat-icon>
        <span>Characters</span>
      </button>
      <button mat-button [routerLink]="['/droids']">
        <mat-icon>android</mat-icon>
        <span>Droids</span>
      </button>
      <button mat-button [routerLink]="['/locations']">
        <mat-icon>language</mat-icon>
        <span>Locations</span>
      </button>
    </li>
  </ul>
  <div class="dropddown-menu">
    <button mat-icon-button [matMenuTriggerFor]="toggleMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #toggleMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>perm_identity</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

